@use "@styles/variables";

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 58vh;
}

.tasksList {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  row-gap: 10px;
  overflow-y: auto;
}

.addTask {
  display: flex;
  column-gap: 12px;
}

.taskswrap {
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.taskWrapper {
  display: flex;
  column-gap: 5px;
}

.taskWrapper input[type="checkbox"] {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.task {
  position: relative;
  padding-left: 25px;
  cursor: pointer;

  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    translate: 0 -50%;
    width: 20px;
    height: 20px;
    background-color: var(--color-zinc-100);
    border: 1px solid var(--color-zinc-200);
    border-radius: var(--border-radius-xxs);
    transition-duration: var(--transition-duration);
  }

  &:hover:before {
    border-color: var(--color-cyan-500);
  }

  &:after {
    content: '';
    position: absolute;
    left: 7px;
    top: 4px;
    width: 7px;
    height: 15px;
    border: solid var(--color-lime-500);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition-duration: var(--transition-duration);
  }
}

.taskWrapper input[type="checkbox"]:checked + .task:after {
  opacity: 1;
}

.finishedTask {
  text-decoration: line-through;
}

.footer {
  display: grid;
  row-gap: 20px;
  flex-shrink: 0;
}