@use "@styles/variables";

.container {
  margin: 0 auto;
  padding-inline: 20px;
  max-width: var(--container-width);
}

.main {
  padding-top: 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 36px;
}