@use '@styles/variables';

.iconButton {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-zinc-100);
  border-radius: var(--border-radius-xxs);
  cursor: pointer;
  transition-duration: var(--transition-duration);

  &:hover {
    transform: scale(1.1);
  }
}

.contentButton {
  padding-block: 8px;
  padding-inline: 12px;
  color: var(--color-white);
  background-color: var(--color-button);
  border-radius: var(--border-radius-xxs);
  cursor: pointer;
  transition-duration: var(--transition-duration);

  &:hover {
    transform: scale(1.03);
  }
}